@import "mixins";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include respond(tablet) {
    font-size: 70%;
  }
}

body {
  font-family: Josefin Sans;
  line-height: 1.6;
}
