h1 {
  font-size: 4.5rem;
  font-weight: 200;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1.5rem;
  color: rgb(206, 151, 151);
}

.text {
  font-size: 1.2rem;
  color: rgb(206, 151, 151);
}

.changed {
  font-weight: 400;
  color: rgb(65, 58, 58);
}
