*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(../Background.jpg);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}
