@import "mixins.scss";

%grid-setup {
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 1fr) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];

  @include respond(mobile) {
    grid-template-columns:
      [full-start] minmax(6rem, 1fr) [center-start] repeat(
        8,
        [col-start] minmax(min-content, 1fr) [col-end]
      )
      [center-end] minmax(6rem, 1fr) [full-end];
  }
}
