@import "mixins.scss";
.footer {
  @include respond(tablet) {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  &__box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5rem;
    margin-bottom: 5rem;

    @include respond(tablet) {
      margin-right: 0;
    }
  }
}

.icon {
  padding: 1rem;
  height: 2rem;
  width: 2rem;
  fill: var(--color-white);
  border-radius: 50%;
  border: 1px solid var(--color-white);
  margin-right: 1rem;
  transition: all 0.2s;

  &:hover {
    border: 1px solid var(--color-secondary);
    fill: var(--color-secondary);
    cursor: pointer;
  }
}
